/* *{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;


}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding-right: 10px;
}
main{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
   
}
.first-div{
    width: 20%; 
    margin-top: 30px;
}
.chi-boy{
    padding-top: 30px;
    padding-bottom: 30px;
}
.second-div{
    width: 80%;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 30px;
    margin-right: 30px;
    background-color: powderblue;
}
.home-content{
    display: flex;
}

.home-one{
    width: 240px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 90px;
    margin-right: 50px;  
    background: white;
}
.who{
    position: relative;
    top: -15px;
    left: 160px;
    
}
.who img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.home-one h3{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}
.home-one p{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.btn{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    text-align: center;
}
.btn button{
    width: 100px;
}
.third-div{
    width: 20%;
    margin-top: 30px;
    background-color: yellowgreen;
    padding-top: 30px;
}
.cas{
    display: flex;  
    margin-left: 15px;  
}
.cas h5{
    padding-top: 5px;
    padding-left: 10px;
}
.cas img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.man{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 27px;
}
.third-div h3{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.third-div p{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.img{
    padding-left: 15px;
    margin-top: 27px;
    margin-bottom: 27px;
}
.img img{
    padding-right: 40px;
}
.formal{
    padding-left: 15px; 
    padding-top: 57px;
}
.formal img{
    padding-top: 20px;
    
}

.true{
    display: flex;
    justify-content: space-between;
    border-right: 100px;
}
.false{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.false button{
    width: 100px;
    height: 30px;
} */