*{
    padding: 0;
    margin: 0;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 40px 120px 40px 120px;
    align-items: center;
}
.navbar h1{
    font-weight: bold;
    text-transform: capitalize;
    color: orange;
    font-size: 3rem;
    justify-content: center;
    
}
.navbar ul li{
    float: left;
    list-style: none;
    padding-left: 30px;
    font-weight: bold;
    text-transform: capitalize;
    
}
.banner-body{
    padding: 80px 100px 80px 100px;
   
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.banner-text{
    flex: 1;
    
}
.banner-text h4{
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: gray;
    font-size: 30px;
}
.banner-text h1{
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    font-size: 4rem;
}
.banner-text p{
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: lightslategrey;
    font-size: 2.7rem;
    line-height: 55px;
    width: 50%;
}
.banner-btn{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    background: orange;
    padding: 15px 70px 15px 70px;
    border: none;
    border-radius: 10px;
}
.banner-image{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
   
}
.banner-image img{
    position: relative;
    top: -20;
    left: 0;
    width: 80%;
    height: 30%;
    border-radius: 50%;
   
}
.color-box{
    position: absolute;
    right: 0;
    top: 10;
    background: linear-gradient(#ff00, #ffc0cb );
    border-radius: 20 0px 0 0 20px;
    height: 90%;
    width: 120%;
    z-index: -1;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
   
}
.about-body{
    padding: 50px 100px 0px 100px;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
.about-image{
    background-image: url(../asset/chairs.jpg);
    width: 700px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 700px 400px;
    margin-bottom: 150px;
}


.about-image h2{
    position: absolute;
    top: 70rem;
    left: 25rem;
    font-size: 50px;
    font-weight: bold;
    
} 
.short-text{
    width: 43vw;
    height: 60vh;
    align-items: center;

}
.short-text p{
    color: lightgray;
    line-height: 25px;
    font-weight: bold;  
}
.second-btn{
    margin-top: 50px;
}
#btn-one{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: orange;
    padding: 15px 60px 15px 60px;
    border: none;
    border-radius: 10px;
    margin-right: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
#btn-two{
    font-size: 15px;
    font-weight: bold;
    color: orange;
    background:white;
    padding: 15px 60px 15px 60px;
    border: 2px orange solid;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
} 

.sales{
    text-align: center;
    margin-left: 0rem;
    /* margin-right: 20rem; */
}
.sales h2{
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
   

}
.sales h2::after{
    content: "";
    position: absolute;
    top: 99.5rem;
    left: 52.5rem;
    width: 6rem;
    height: 4px;
    border-radius: 2rem;
    background: linear-gradient(#ffa500, #ffc0cb);
   
}
.sales p{
    color: lightgray;
    line-height: 25px;
    font-weight: bold; 
    margin-bottom: 40px; 
}

.image-gallery{
   
    
}
.only{
    display: flex;
    height: 300px;
    margin-bottom: 110px; 
   
}
.inline-one{
    background-image: url(../asset/chairs.jpg);
    background-repeat: no-repeat;
    height: 300px;
    width: 37%;
    border-radius: 10px;
    margin-left: 290px;  
}

  
.image-color1{
    width: 77%;
    height: 300px;
    background-color: rgba(117, 192, 241, 0.6);
    z-index: 2;
    border-radius: 10px;
}
.image-color2{
    width: 77%;
    height: 300px;
    background-color: rgba(241, 255, 50, 0.6);
    z-index: 2;
    border-radius: 10px;

}
.image-color3 {
    width: 77%;
    height: 300px;
    background-color: rgba(226, 61, 143, 0.6);
    z-index: 2;
    border-radius: 10px;

}
.image-color4{
    width: 77%;
    height: 300px;
    background-color: rgba(13, 158, 44, 0.6);
    z-index: 2;
    border-radius: 10px;
}
.inline-one h3{
    position: relative;
    top: 8rem;
    left: 3rem;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    color: white;
   
}
.inline-one p{
    position: relative;
    top: 9rem;
    left: 3rem;
    width: 80%;
    color: white;
}
.inline-one1 h3{
    position: relative;
    top: 8rem;
    left: 3rem;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.inline-one1 p{
    position: relative;
    top: 9rem;
    left: 3rem;
    width: 80%;
    color: white;
}
.inline-one1{
    width: 37%;
    background-image: url(../asset/chairs.jpg);
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 10px;
} 

/* @media screen and (max-width: 1200px) {
    .text h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .section-one {
        display: block;

    }
    .text {
        margin-bottom: 50px;
    }
    .img img{
        width: 80%;
    }
    .color-box{
        width: 120%;
    }
    .text h4{
        font-size: 29px;
    }
    .text h1{
        font-size: 2.5;
    }
    .text h3{
        line-height: 35px;
    }
    .btn{
        font-size: 10px;
        text-transform: capitalize;
        font-weight: bold;
        color: white;
        background: orange;
        border: none;
        border-radius: 10px;
       
    }
 }

@media screen and (max-width: 480px) {
   
    header{
        display: block;
        flex-direction: column;
        margin: 0;
        padding: 0;
        float: none;

       
    }
    header h1{
        margin: 0;
        padding: 0;
        float: none;
        display: block;
        font-weight: bold;
        text-transform: capitalize;
        color: black;
        font-size: 2rem;
       
        
    }
  
    
    header ul li{
        float: left;
        list-style: none;
        padding-left: 12px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 10px;
        text-transform: capitalize;

    }
        
    
    .section-one{
        display: block;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        margin-left: 90px;
    } 
    .text{
        flex: none;
        justify-content: center;
        align-items: center;
        width: 55%;
        
    }
    .text h4{
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: gray;
        font-size: 13px;
    }
    .text h1{
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: capitalize;
        color: black;
        font-size: 30px;
    }
    .text h3{
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: capitalize;
        color: lightslategrey;
        font-size: 20px;
        line-height: 35px;
    }
    .btn{
        font-size: 10px;
        text-transform: capitalize;
        font-weight: bold;
        color: white;
        background: orange;
        border: none;
        border-radius: 10px;
       
    }
    .img{
        position: relative;
        top: 50px;
        left: 0px;
        flex-basis: 30%;
        display: block;
        align-items: center;
        margin-bottom: 90px;
       
    }
    .img img{
        width: 45%;
        border-radius: 45%;
        transform:translate(20px) ;
        -webkit-border-radius: 45%;
        -moz-border-radius: 45%;
        -ms-border-radius: 45%;
        -o-border-radius: 45%;
}
    .color-box{
        position: absolute;
        left: 8px;
        top: 0;
        background: linear-gradient(#ff00, #ffc0cb );
        border-radius: 20 0px 0 0 20px;
        height: 90%;
        width: 80%;
        z-index: -1;
        border-top-right-radius: 60%;
        border-bottom-right-radius: 60%;
    
    }
    .section-two{
        display: block;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin-left: 90px;
    }
    .about{
        position: relative;
        top: 0;
        left: 0;
        width: 75vw;
        height: 30vh;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-image: url(../asset/chairs.jpg);
        margin-top: 8px;
        margin-bottom: 30px;
    }
    .about h2{
        position: absolute;
        top: 8rem;
        left: 12rem;
        font-size: 20px;
        font-weight: bold;
    }
    .pass{
        width: 100%;
        height: 40vh;
        align-items: center;
    
    }
    .pass p{
        width: 90%;
        color: lightgray;
        line-height: 13px;
        font-weight: bold;  
        font-size: 13px;
    }
    .second-btn{
        margin-top: 20px;
    }
    #btn-one{
        font-size: 10px;
        font-weight: bold;
        color: white;
        background: orange;
        padding: 10px 30px 10px 30px;
        border: none;
        border-radius: 10px;
        margin-right: 10px;
        font-weight: bold;
        text-transform: capitalize;
    }
    #btn-two{
        font-size: 10px;
        font-weight: bold;
        color: orange;
        background:white;
        padding: 10px 20px 10px 20px;
        border: 2px orange solid;
        border-radius: 10px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .sales{
        margin: 0;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    .sales h2{
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
       
    
    }
    .sales h2::after{
        content: "";
        position: absolute;
        top: 1085px;
        left: 207px;
        width: 62px;
        height: 3px;
        border-radius: 2rem;
        background: linear-gradient(#ffa500, #ffc0cb);
        
    }
    .sales p{
        color: lightgray;
        width: 100%;
        font-size: 13px;
        line-height: 15px;
        font-weight: bold; 
        margin-bottom: 40px; 
      
    }
    .only{
        margin: 0;
       flex-direction: column;
       height: 80vh;
      
       
    }
    .inline-one{
        margin: 0;
        width: 350px;
        height: 200px;
        background-image: url(../asset/chairs.jpg);
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-bottom: 40px;
        margin-left: 70px;
      
    }
    .image-color1{
        margin: 0;
        width: 350px;
        height: 200px;
        background-color: rgba(117, 192, 241, 0.6);
        z-index: 2;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .image-color2{
        margin: 0;
        width: 350px;
        height: 200px;
        background-color: rgba(241, 255, 50, 0.6);
        z-index: 2;
        border-radius: 10px;
        margin-bottom: 40px;

    }
    .image-color3 {
        margin: 0;
        width: 350px;
        height: 200px;
        background-color: rgba(226, 61, 143, 0.6);
        z-index: 2;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .image-color4{
        margin: 0;
        width: 350px;
        height: 200px;
        background-color: rgba(13, 158, 44, 0.6);
        z-index: 2;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .inline-one h3{
        position: relative;
        top: 5rem;
        left: 3rem;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .inline-one p{
        position: relative;
        top: 6rem;
        left: 3rem;
        width: 80%;
        color: white;
    }
    .inline-one1 h3{
        position: relative;
        top: 5rem;
        left: 3rem;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .inline-one1 p{
        position: relative;
        top: 5rem;
        left: 3rem;
        width: 80%;
        color: white;
    }
    .inline-one1 p{
        position: relative;
        top: 6rem;
        left: 3rem;
        width: 80%;
        color: white;
    }
    .inline-one1{
        margin: 0;
        width: 350px;
        height: 200px;
        background-image: url(../asset/chairs.jpg);
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-bottom: 120px;
        margin-left: 70px;
    }
    
} */
