/* *{
    padding: 0;
    margin: 0;
    
}

.container{
    width: 560px;
    height: 620px;
    margin: 8% auto;
    border-radius: 20px;
    background-color: gray;
    position: relative;
    overflow: hidden;
}
h3{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    text-transform: uppercase;
}
h4{
    text-align: center;
    margin: 5px 10px;
}
.container form{
    width: 280px;
    top: 30px;
    bottom: 30px;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 140px;
    transition: 0.5s;
    
}
form label{
    width: 100%;
}
form input[type="text"]{
    margin-bottom: 10px;
    padding: 12px 6px 12px 6px ;
    width: 100%;
    border: 0;
    background: deeppink;
}

form input[type='radio']{
    margin: 0 5px 0 5px;
}

textarea{
    margin-top: 15px;
}

button{
    float: right;
    margin-top: 20px;
    background: lightcyan;
    color: black;
    border: none;
    padding: 3px;
    border-radius: 6px;
    margin-left: 30px;
    
}

 */
